.about .block .icon-box {
  padding:0px 0;
  }

.btn-transparent:focus {
  background-color:#00FFCC;
  }

.title h2 span {
  color:#00FFCC;
  }

.tr:nth-child(even) {
    background-color: #1d2024;
}
.tr:nth-child(odd) {
    background-color: #353b43;
}

.border-meghna:before {
  background-color:#00FFCC;
  }

.btn-transparent:focus {
  background-color:#00FFCC;
  }

.navigation .navigation-menu li a.active {
      color: #00FFCC;
  }

.about-2 .content-block .media i {
      font-size: 30px;
      color: #00FFCC;
  }

.btn-main {
    background: #000;
    color: #00FFCC;
  }

.btn-main:hover {
  background: #00FFCC;
 }

.navigation-menu li a.active{
  color:#00FFCC;
}

.navigation-menu li a:focus{
  color:#00FFCC;
}

.navbar-toggler:focus{
  outline-color:#00FFCC;
}
